* {
  margin: 0;
  padding: 0;
}

.layout {
  margin: 0 2rem 0 2rem;
}
/* 
.gdsc__main {
  background-color: black;
} */

.gdsc__card {
  background-color: rgb(241, 234, 234);
  color: rgb(33, 31, 31);
  padding: 1.2rem;
  margin: 2rem;
  cursor: pointer;
}
